/* http://meyerweb.com/eric/tools/css/reset/ */
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700&text=%26);
/* line 2, sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video,
button, input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  background: transparent;
  vertical-align: baseline; }

/* line 26, sass/_reset.scss */
html {
  line-height: 1; }

/* HTML5 display-role reset for older browsers */
/* line 31, sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 36, sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 40, sass/_reset.scss */
q, blockquote {
  quotes: none; }
  /* line 42, sass/_reset.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 47, sass/_reset.scss */
:focus {
  outline: 0; }

/* line 51, sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 56, sass/_reset.scss */
a img {
  border: none; }

/* line 1, sass/_base.scss */
*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/* line 5, sass/_base.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ddd;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(http://subtlepatterns.com/patterns/struckaxiom.png);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5))), url(http://subtlepatterns.com/patterns/struckaxiom.png);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(http://subtlepatterns.com/patterns/struckaxiom.png);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(http://subtlepatterns.com/patterns/struckaxiom.png);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(http://subtlepatterns.com/patterns/struckaxiom.png); }

/* line 15, sass/_base.scss */
body {
  background: url(images/bg.jpg) no-repeat top center;
  background-size: contain; }

/* line 20, sass/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 25, sass/_base.scss */
.group, .lt-header, .menu, .nameless, .post, .post_body, .pageNav, .sidebar {
  zoom: 1; }
  /* line 26, sass/_base.scss */
  .group:before, .lt-header:before, .menu:before, .nameless:before, .post:before, .post_body:before, .pageNav:before, .sidebar:before, .group:after, .lt-header:after, .menu:after, .nameless:after, .post:after, .post_body:after, .pageNav:after, .sidebar:after {
    content: "";
    display: table; }
  /* line 31, sass/_base.scss */
  .group:after, .lt-header:after, .menu:after, .nameless:after, .post:after, .post_body:after, .pageNav:after, .sidebar:after {
    clear: both; }

/* line 38, sass/_base.scss */
.wrap {
  margin: 0 auto;
  max-width: 60em;
  -moz-transition: max-width 0.6s ease-in;
  -o-transition: max-width 0.6s ease-in;
  -webkit-transition: max-width 0.6s ease-in;
  transition: max-width 0.6s ease-in; }
  @media (max-width: 1250px) {
    /* line 38, sass/_base.scss */
    .wrap {
      max-width: 50em; } }

/* line 49, sass/_base.scss */
.wrap-pad {
  padding-right: 20px;
  padding-left: 20px; }

/* line 3, sass/_typography.scss */
html {
  color: #2f2f2f;
  font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  font-weight: 400; }

/* line 8, sass/_typography.scss */
h1, h2, h3, h4 {
  font-family: Lobster Two, Verdana, Tahoma, Helvetica, Arial, sans-serif; }

/* line 106, ../../../../../../../usr/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.5em; }

/* line 18, sass/_typography.scss */
a {
  color: #1391c1;
  text-decoration: none; }
  /* line 23, sass/_typography.scss */
  a:hover, a:focus {
    color: #107ba4; }
  /* line 27, sass/_typography.scss */
  a:active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }

/* line 32, sass/_typography.scss */
h1 {
  font-size: 38px;
  font-size: 2.11111rem;
  line-height: 54px;
  line-height: 3rem; }

/* line 36, sass/_typography.scss */
h2 {
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 54px;
  line-height: 3rem; }

/* line 40, sass/_typography.scss */
h3 {
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 27px;
  line-height: 1.5rem; }

/* line 44, sass/_typography.scss */
h4 {
  font-size: 13px;
  font-size: 0.72222rem;
  line-height: 27px;
  line-height: 1.5rem; }

/* line 1, sass/_forms.scss */
input, textarea, select {
  font-family: Verdana, Tahoma, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #2f2f2f; }

/* line 6, sass/_forms.scss */
input {
  margin-top: 7px;
  margin-top: 0.375rem;
  padding-top: 7px;
  padding-top: 0.375rem;
  padding-bottom: 7px;
  padding-bottom: 0.375rem;
  margin-bottom: 7px;
  margin-bottom: 0.375rem;
  height: 2.25rem;
  -moz-box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.2) inset; }

/* line 14, sass/_forms.scss */
input[type=text],
input[type=password],
input[type=search] {
  background: #555;
  padding-left: .3em;
  padding-right: .4em;
  border: 1px solid transparent;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  -moz-transition: background 0.4s ease, border 0.4s ease, color 0.4s ease;
  -o-transition: background 0.4s ease, border 0.4s ease, color 0.4s ease;
  -webkit-transition: background 0.4s ease, border 0.4s ease, color 0.4s ease;
  transition: background 0.4s ease, border 0.4s ease, color 0.4s ease; }
  /* line 32, sass/_forms.scss */
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=search]:focus {
    background: #fff;
    border-color: #f43059;
    color: #2f2f2f; }
  /* line 39, sass/_forms.scss */
  input[type=text].search_query,
  input[type=password].search_query,
  input[type=search].search_query {
    background: #232323;
    background: rgba(255, 255, 255, 0.14); }
    /* line 43, sass/_forms.scss */
    input[type=text].search_query:focus,
    input[type=password].search_query:focus,
    input[type=search].search_query:focus {
      background: #fff;
      border-color: transparent; }

/* line 50, sass/_forms.scss */
input[type=submit] {
  background: #f43059;
  padding-left: .6em;
  padding-right: .6em;
  color: #fff;
  font-size: 15px;
  font-size: 0.83333rem;
  line-height: 27px;
  line-height: 1.5rem;
  font-weight: 700;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-transition: box-shadow 0.3s ease-out, background 0.3s ease-in;
  -o-transition: box-shadow 0.3s ease-out, background 0.3s ease-in;
  -webkit-transition: box-shadow 0.3s ease-out, background 0.3s ease-in;
  transition: box-shadow 0.3s ease-out, background 0.3s ease-in; }
  /* line 66, sass/_forms.scss */
  input[type=submit]:hover, input[type=submit]:focus {
    -moz-box-shadow: 0 0 0.8em 0.4em rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 0.8em 0.4em rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 0 0.8em 0.4em rgba(0, 0, 0, 0.3) inset; }
  /* line 70, sass/_forms.scss */
  input[type=submit]:active {
    background: #000; }
  /* line 74, sass/_forms.scss */
  input[type=submit].search_submit {
    background: #1391c1; }
    /* line 77, sass/_forms.scss */
    input[type=submit].search_submit:active {
      background: #000; }

/* line 1, sass/_header.scss */
.lt-header {
  height: 4.5rem;
  background: #000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f0f0f), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(top, #0f0f0f 0%, #000000 100%);
  background-image: -webkit-linear-gradient(top, #0f0f0f 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #0f0f0f 0%, #000000 100%);
  color: #fff;
  margin-bottom: 378px;
  margin-bottom: 21rem; }

/* Search
===================================================*/
/* line 18, sass/_header.scss */
.search {
  float: left; }

/* Menu
===================================================*/
/* line 24, sass/_header.scss */
.menu {
  float: left; }

/* line 29, sass/_header.scss */
.menu_item {
  float: left;
  border-right: 1px solid #d0d0d0; }
  /* line 33, sass/_header.scss */
  .menu_item > a {
    display: block;
    font-weight: 700;
    color: #d0d0d0; }
    /* line 44, sass/_header.scss */
    .menu_item > a:hover, .menu_item > a:focus {
      color: #fff; }

/* line 1, sass/_main.scss */
.lt-main {
  margin-bottom: 108px;
  margin-bottom: 6rem; }
  /* line 2, sass/_main.scss */
  .lt-main > div {
    margin-left: -9999px;
    padding-left: 10019px;
    padding-right: 20px;
    padding-top: 54px;
    padding-top: 3rem;
    padding-bottom: 54px;
    padding-bottom: 3rem;
    border-left: .2em solid transparent;
    border-right: 0.2em solid #f43059; }

/* line 17, sass/_main.scss */
.nameless {
  background: #fff; }

/* Posts
=========================================================*/
/* line 27, sass/_main.scss */
.post_list {
  float: left;
  width: 76%;
  padding-right: 20px; }
  @media (max-width: 700px) {
    /* line 27, sass/_main.scss */
    .post_list {
      width: 100%; } }

/* line 40, sass/_main.scss */
.post + .post {
  margin-top: 27px;
  margin-top: 1.5rem;
  -moz-box-shadow: #ddd 0 -30px 0 -29px;
  -webkit-box-shadow: #ddd 0 -30px 0 -29px;
  box-shadow: #ddd 0 -30px 0 -29px;
  padding-top: 27px;
  padding-top: 1.5rem; }

/* line 48, sass/_main.scss */
.post_head {
  background: #000;
  letter-spacing: .16em;
  text-transform: uppercase; }
  /* line 51, sass/_main.scss */
  .lt-single .post_head {
    background: transparent; }

/* line 59, sass/_main.scss */
.post_data {
  padding-left: .6em;
  padding-right: .6em;
  font-size: 11px;
  font-size: 0.61111rem;
  line-height: 27px;
  line-height: 1.5rem;
  color: #d0d0d0; }
  /* line 66, sass/_main.scss */
  .lt-single .post_data {
    color: #2f2f2f; }
    /* line 69, sass/_main.scss */
    .lt-single .post_data a {
      color: #2f2f2f; }
  /* line 74, sass/_main.scss */
  .post_data a {
    color: #d0d0d0; }

/* line 83, sass/_main.scss */
.post_thumb {
  display: block;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 132%;
  -moz-transition: background-size 2.4s ease;
  -o-transition: background-size 2.4s ease;
  -webkit-transition: background-size 2.4s ease;
  transition: background-size 2.4s ease; }
  /* line 95, sass/_main.scss */
  .post_thumb:hover {
    background-size: 110%; }
  /* line 101, sass/_main.scss */
  .post_thumb > img {
    visibility: hidden; }

/* line 106, sass/_main.scss */
.post_title {
  position: absolute;
  bottom: 1.5rem;
  background: rgba(0, 0, 0, 0.96);
  padding-left: .1em;
  padding-right: .1em;
  max-width: 50%;
  color: #fff;
  font-weight: 700;
  -moz-transition: background 0.12s ease-in, color 0.12s ease-in;
  -o-transition: background 0.12s ease-in, color 0.12s ease-in;
  -webkit-transition: background 0.12s ease-in, color 0.12s ease-in;
  transition: background 0.12s ease-in, color 0.12s ease-in; }
  /* line 115, sass/_main.scss */
  .lt-single .post_title {
    margin-top: -4.5rem;
    position: static;
    max-width: 100%; }
  /* line 130, sass/_main.scss */
  .post_title:hover, .post_title:focus {
    color: #fff;
    background: #1391c1; }

/* line 136, sass/_main.scss */
.post_body {
  padding-top: 27px;
  padding-top: 1.5rem;
  font-size: 18px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.5rem; }
  /* line 142, sass/_main.scss */
  .post_body > p:first-of-type::first-letter {
    float: left;
    display: block;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    -moz-box-shadow: 0 0 0 1px #2f2f2f;
    -webkit-box-shadow: 0 0 0 1px #2f2f2f;
    box-shadow: 0 0 0 1px #2f2f2f;
    margin-top: 7px;
    margin-top: 0.375rem;
    margin-bottom: 7px;
    margin-bottom: 0.375rem;
    margin-right: 0.375rem;
    font-size: 50px;
    font-size: 2.77778rem;
    line-height: 68px;
    line-height: 3.75rem;
    font-family: serif;
    text-align: center;
    font-weight: bold;
    color: #f43059; }
  /* line 161, sass/_main.scss */
  .post_body > * + * {
    margin-top: 27px;
    margin-top: 1.5rem; }
  /* line 165, sass/_main.scss */
  .post_body a {
    -moz-transition: color 0.3s ease, border 0.3s ease;
    -o-transition: color 0.3s ease, border 0.3s ease;
    -webkit-transition: color 0.3s ease, border 0.3s ease;
    transition: color 0.3s ease, border 0.3s ease;
    color: #2f2f2f;
    border-bottom: 2px solid #1391c1; }
    /* line 175, sass/_main.scss */
    .post_body a:hover, .post_body a:focus {
      color: #1391c1;
      border-width: 0; }

/* line 182, sass/_main.scss */
.post_footer {
  margin-top: 54px;
  margin-top: 3rem; }

/* line 186, sass/_main.scss */
.comments_title {
  display: inline-block;
  background: #1391c1;
  margin-left: -1em;
  padding-left: 1em;
  padding-top: .2em;
  padding-right: .2em;
  line-height: .6;
  color: #fff; }

/* PageNav
===================================================*/
/* line 201, sass/_main.scss */
.pageNav {
  background: #ddd;
  /* margin-bottom: -5em; */ }

/* line 208, sass/_main.scss */
.pageNav_item {
  float: left; }
  /* line 211, sass/_main.scss */
  .pageNav_item.pageNav_item-prev {
    float: left; }
  /* line 215, sass/_main.scss */
  .pageNav_item.pageNav_item-next {
    float: right; }
  /* line 219, sass/_main.scss */
  .pageNav_item > a {
    display: block;
    background: #1391c1;
    margin-right: .6em;
    padding-left: .6em;
    padding-right: .6em;
    margin-top: 7px;
    margin-top: 0.375rem;
    padding-top: 7px;
    padding-top: 0.375rem;
    padding-bottom: 7px;
    padding-bottom: 0.375rem;
    margin-bottom: 7px;
    margin-bottom: 0.375rem;
    color: #fff;
    font-weight: 700; }
    /* line 233, sass/_main.scss */
    .pageNav_item > a:hover, .pageNav_item > a:focus {
      background: #107ba4; }

/* Sidebar
======================================================*/
/* line 241, sass/_main.scss */
.sidebar {
  float: left;
  width: 24%;
  border-left: 1px solid #ddd;
  padding-left: 20px; }
  @media (max-width: 700px) {
    /* line 241, sass/_main.scss */
    .sidebar {
      width: 100%; } }

/* line 256, sass/_main.scss */
.widget + .widget {
  margin-top: 14px;
  margin-top: 0.75rem;
  -moz-box-shadow: 0 -1px rgba(221, 221, 221, 0.6);
  -webkit-box-shadow: 0 -1px rgba(221, 221, 221, 0.6);
  box-shadow: 0 -1px rgba(221, 221, 221, 0.6);
  padding-top: 14px;
  padding-top: 0.75rem; }

/* line 263, sass/_main.scss */
.widget-title {
  font-weight: 700; }

/* line 2, sass/_footer.scss */
.lt-footer {
  color: #d0d0d0;
  background: #000;
  padding-top: 1em;
  padding-bottom: 1em; }

/* line 19, sass/_footer.scss */
.copyright {
  text-align: right; }
